body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin-left: 345px;
  border: 1px solid #EF9A9A;
  padding: 0px 10px;
  height: 100vh;
}

.flexcolumn {
  flex-direction: column;
}

.leftmain {
  height: 100%;
  width: 325px;
  padding-top: 0px;
  padding: 0px 10px;
  position: fixed;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #333333;
  align-content: center;
}

.leftmain p {
  float: left;
  color: #ffffff;
  text-align: left;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
  border-radius: 4px;
  background-color: #333333;
  width: 300px;
}

.leftmain p:hover {
  background-color: #404040;
  color: #ffffff;
}

.header {
  overflow: hidden;
  background-color: #404040;
  padding: 10px 10px;
  height: 36px;
  text-align: center;
}

.header-right {
  float: right;
  padding: 0px 0px;
}

.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  align-content: center;
}

.header a:hover {
  background-color: #333333;
  color: #ffffff;
}
